.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(0.2);
}

.bannerr {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom: 350px;
}

.box {
    max-width: 600px; 
    padding: 20px;
    border-radius: 8px;
    text-align: left; 
}